
html .mceContentBody {
	font-size: 100%;
	max-width: 620px;
	font-size: 14px;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}

body {
	color: #2b2b2b;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-weight: 300;
}

*{	
	color:#565656;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: 300;
}

iframe{
  width: 100%;
  -webkit-overflow-scrolling:touch;
}

h1,h2,h3,h4,h5,h6{		
	clear: both;
	margin: 0;
	padding: 0;	
	line-height:1.5em;
    font-weight: bold;
	font-weight: 300;	
    color: #a7a7a7;
	font-family: Open Sans, Arial, sans-serif;
}

h1{
	font-size: 22px;
}

h2 {
	font-size: 20px;
}

h3{
	font-size: 18px;
}

h4{
	font-size: 16px;
}

h5{
	font-size: 14px;
}

h6{
	font-size: 12px;
}

strong, b{
	font-weight: bold;
}

a{
	color:#ea1a35;
	text-decoration: none;
	
	-webkit-transition-property:color, text;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	
	-moz-transition-property:color, text;
	-moz-transition-duration:0.2s;
	-moz-transition-timing-function: linear;
	
	-o-transition-property:color, text;
	-o-transition-duration:0.2s;
	-o-transition-timing-function: linear;
}

ol, ul{	
	margin-bottom: 20px;
}

li{
	margin-left:20px;
	margin-bottom: 10px;
}

pre{
	background: #eaf1f5;
	font-family: Courier, monospace;
	font-size: 13px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	width: calc( 100% - 50px );
	overflow-x: auto;
	padding: 25px;
}

hr{
	background-color: transparent;
	border: 0;
	border-bottom: dotted 1px #c7d6e4;
	height: 1px;
	margin: 1.6em 0;
}

p{	
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	line-height:1.7em;
	font-size:14px;
}

/* table */
table{
	border-spacing: 0px;
	border: 1px solid #edf0f0;
	margin-bottom: 1em;
}

tbody{
	vertical-align: middle;
}

th{
	background: #edf0f0;
	text-align:left;
	font-weight: bold;
}

tr{
	padding:5px 0;
	border-bottom:1px solid gray;
	width:100%;
}

td, th{
	vertical-align:text-top;
	padding: 10px 15px;
	border-right: 1px solid #edf0f0;
}

tr:nth-child(odd){
	background:#f8f9f9;
}

tr:hover{
	background: #f7f7f7;
}


/* align */
.alignright{
	float:right;
}

.alignleft{
	float: left;
}

.content img{
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}

img.alignleft, a img.alignleft{
	margin-right: 15px;
	margin-bottom: 20px;	
	margin-left: 0;
}

img.aligncenter, a img.aligncenter{
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

img.alignright, a img.alignright{
	margin-left: 15px;
	margin-bottom: 20px;
	margin-right: 0;
}


.wp-caption img{
	margin-bottom: 0;
	padding-bottom: 0;
}

.wp-caption-text{
	color:#777;
	font-style:italic;
	font-size:12px;
	margin-left:20px;
	margin-top:0px;
	padding-top:0 ;
	text-align: center;
}

/* blockquote */
blockquote{
	margin: 20px 0;
	padding: 20px 0 0 20px;
	border-top: solid 4px #343E47;
}

blockquote p:before{
	content: "\201C";
	font-family: Georgia;
	position:absolute;
	font-size: 60px;
	font-weight:bold;
	margin-left:-50px;
	margin-top:20px;
	font-style:normal;
}

blockquote p{
	font-family:Georgia;
	font-style: italic;
	padding:0 3em;
	line-height: 1.5em;
	color:#555;
}

.content div{
	max-width: 100%;
}
