a.support-btn, span.support-btn{
	position: absolute;	
	box-sizing: border-box;	
	background: #0085ba;
	left: 10px;		
	padding: 3px;
	color: #fff;
	width: 30px;
	height: 30px;
	line-height: 19px;
	font-size: 18px;
	border-radius: 50%;
	border: 2px solid #fff;
	text-align: center;
	cursor: pointer;
	opacity:0;
	z-index: 100;
	text-decoration: none;
		
	-ms-box-shadow: 0 2px 1px rgba(46,68,83,.15);	
	-moz-box-shadow: 0 2px 1px rgba(46,68,83,.15);
	-webkit-box-shadow: 0 2px 1px rgba(46,68,83,.15);
	box-shadow: 0 2px 1px rgba(46,68,83,.15);	
}

a.support-btn:hover{
	background: #008ec2;	
	z-index: 120;
}

span.support-btn.toggle-support {
	position: fixed;
	bottom: 30px;
	left: 30px;
	opacity: 1;
	background: #ea1a35;
	
}

a.support-admin{	
	background: #0085ba !important;
	margin-top: 5px !important;	
}

a.support-admin:hover{
	background: #008ec2 !important;
}

a.support-tut{
	margin-top: 37px;	
	background: #f2bd0e !important;	
	font-weight: bold;
}

a.support-tut:hover{
	background: #fdc717 !important;
}


/* CUSTOM CLASSES */
a.support-btn.social-media{
	margin-left: 40px;
}
a.support-footer{
	margin-top: -10px !important;
}

a.support-mega-menu{
	color: #fff !important;
	padding: 0 !important;
	font-weight: bold !important;
	font-size: 18px !important;
	line-height: 19px !important;
	padding-top: 3px !important;
}

/* TOOLTIP */
.support-btn:hover .tooltip {
    visibility: visible;
}

.tooltirep {
    position: relative;
    display: inline-block;
}


.tooltip{
    visibility: hidden;
    white-space: nowrap;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 3px 8px;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    z-index: 1; /* buttons zijn 100 */
    top: 2px;
    left: 120%;
    opacity:0.9
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -6px;
    border-style: solid;
    border-top: solid 5px transparent;
    border-right: solid 6px #222;
    border-bottom: solid 5px transparent;
    border-left: solid 5px transparent;
}





/* Animatie gejat uit wordpress admin css */
.support-animation{
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	
	-webkit-animation-name: customize-partial-edit-shortcut-bounce-appear;
	animation-name: customize-partial-edit-shortcut-bounce-appear;
	
}

@-webkit-keyframes customize-partial-edit-shortcut-bounce-appear {
	20%,40%,60%,80%,from,to {
		-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
		animation-timing-function:cubic-bezier(.215,.61,.355,1)
	}
	0% {
		opacity:0;
		-webkit-transform:scale3d(.3,.3,.3);
		transform:scale3d(.3,.3,.3)
	}
	20% {
		-webkit-transform:scale3d(1.1,1.1,1.1);
		transform:scale3d(1.1,1.1,1.1)
	}
	40% {
		-webkit-transform:scale3d(.9,.9,.9);
		transform:scale3d(.9,.9,.9)
	}
	60% {
		opacity:1;
		-webkit-transform:scale3d(1.03,1.03,1.03);
		transform:scale3d(1.03,1.03,1.03)
	}
	80% {
		-webkit-transform:scale3d(.97,.97,.97);
		transform:scale3d(.97,.97,.97)
	}
	to {
		opacity:1;
		-webkit-transform:scale3d(1,1,1);
		transform:scale3d(1,1,1)
	}
}
@keyframes customize-partial-edit-shortcut-bounce-appear {
	20%,40%,60%,80%,from,to {
		-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
		animation-timing-function:cubic-bezier(.215,.61,.355,1)
	}
	0% {
		opacity:0;
		-webkit-transform:scale3d(.3,.3,.3);
		transform:scale3d(.3,.3,.3)
	}
	20% {
		-webkit-transform:scale3d(1.1,1.1,1.1);
		transform:scale3d(1.1,1.1,1.1)
	}
	40% {
		-webkit-transform:scale3d(.9,.9,.9);
		transform:scale3d(.9,.9,.9)
	}
	60% {
		opacity:1;
		-webkit-transform:scale3d(1.03,1.03,1.03);
		transform:scale3d(1.03,1.03,1.03)
	}
	80% {
		-webkit-transform:scale3d(.97,.97,.97);
		transform:scale3d(.97,.97,.97)
	}
	to {
		opacity:1;
		-webkit-transform:scale3d(1,1,1);
		transform:scale3d(1,1,1)
	}
}