
.recentpost_widget{
}

.recentpost_widget h1{
	padding: 20px 30px;
	margin-bottom: 0;
	font-size:22px;
	font-weight: 100;
	color:#888;
	font-family: Open Sans, arial, sans-serif;
}

.recentpost_widget .RPwidget_recent_post {
	position:relative;
	width:100%;
	padding-bottom:1em;
}

.RPwidget_recent_post .post_thumb{
	overflow: hidden;
}

.RPwidget_recent_post img{
	width:100%;
	min-height:135px;
	height:auto;
	border:none;
}

.RPwidget_recent_post .post_content{
	position:relative;
	padding: 5px 30px 10px 30px; 
	background:#fff;
}

.RPwidget_recent_post .post_content h2{
	margin: 8px 0;
}

.RPwidget_recent_post .post_content h2, .RPwidget_recent_post .post_content h2 a{
	font-size:14px;
}

.RPwidget_recent_post .post_content p{
	font-size:12px;
	padding:0.2em 0 0.4em 0;
}

.RPwidget_recent_post .post_content img{
	display:none;
}

.RPwidget_recent_post .post_content .readmore{
	font-size:12px;
}

.RPwidget_recent_post .post_content .readmore:hover{
	color:#000;
}

.RPwidget_recent_post .post_content .readmore:after{
	content:"\00BB";
	margin-left:20px;
}
